.single-post, .search-results, .archive
{
  a {
    text-decoration: none;
    border-bottom: none;
    color: $textGrey;
  }
  .site-content {
    background-color: $backgroundGrey;

    .blog-navigation {
      width: 100%;
      position: absolute;
      left: 0;
      
      padding: 10px 16px;
      /* @media (max-width: $breakpoint-navbar-max) {
        padding: 10px 16px 10px 16px;
      } */

      .back-btn {
        text-transform: uppercase;
        color: $textGrey;
        font-size: 12px;
        &:hover {
          color: $textHover;
          text-decoration: none;
        }
      }
    }

    .page-header {
      padding-top: 9px;
      background-color: $white;
      border-left-color: $darkGrey;
      margin: 20px 0 40px;

      .page-title {
        color: $darkGrey;
      }
    }

    .site-main {
      padding-top: 0;

      .post-navigation {
        display: none;
      }
    }

    .post {
      box-shadow: none;
      background-color: $backgroundGrey;
      margin-top: 0;
      padding-top: 40px;

      max-width: 900px;
      margin-left: auto;
      margin-right: auto;

      .entry-header {
        margin-bottom: $spacingMd;

        .entry-title {
          font-size: $fontSizeTitle;
          text-transform: uppercase;
          margin-bottom: 4px;

          a {
            color: $textGrey;
            &:hover {
              color: $textHover;
            }
          }
        }
        .entry-meta {
          font-size: $fontSizeMeta;
          text-transform: uppercase;

          .category {
            margin-right: 8px;
            a {
              color: $textGrey;
            }
          }
        }
      }

      .entry-content, .entry-summary {

        p {
          font-size: $fontSizeBody;
          line-height: $entryLineHeight;
          margin-bottom: $spacingMd;
          letter-spacing: $letterSpacing;
        }
        a {
          color: $textGrey;
        }
        .wp-caption-text {
          // text-transform: uppercase;
          color: $textGrey;
          font-size: 12px;
          padding-top: 2px;
          padding-bottom: 0;

          // .pradux-embed ~ & {
           
          // }
        }

        .pradux-embed + .wp-caption-text {

          margin-top: -6px;
        }

        img {
          margin-left: auto;
          margin-right: auto;
        }
      }

      .entry-footer {
        display: none;
      }
    }
  }

  .post-tags-container
  {
    padding-left: 10%;
    padding-right: 10%;
    max-width: 900px;

    .post-tags {

      .tags-label {
        color: $textGrey;
        text-transform: uppercase;
      }
      .post-tag {
        color: #000;
        a {
          text-transform: uppercase;
          color: #000; 
        }
      }
    }
  }
  

  .facebook-comments-container {
    
    padding-left: 10%;
    padding-right: 10%;
    max-width: 900px;

    .facebook-comments {
      border-top: 1px solid #EDEDED;
      padding-top: 40px;
      padding-bottom: 40px;
    }

  }
  
}