.single-post, .search-results, .archive
{
  .site-content {
    background-color: $backgroundGrey;

    .site-main {
      padding-top: 0;
    }

    .post {
      box-shadow: none;
      background-color: $backgroundGrey;
      margin-top: 0;
      padding-top: 0;

      .entry-header {
        margin-bottom: 30px;

        .entry-title {
          color: $textGrey;
          font-size: 1.5em;
          text-transform: uppercase;
          margin-bottom: 4px;

          a {
            color: $textGrey;
          }
        }
        .entry-meta {
          color: $textGrey;
          font-size: 1em;
          text-transform: uppercase;

          .category {
            a {
              color: $textGrey;
            }
          }
        }
      }

      .entry-content, .entry-summary {
        color: $textGrey;
        a {
          color: $textGrey;
        }
      }

      .entry-footer {
        display: none;
      }
    }
  }
  
}