.single-post, .search-results, .archive
{
  .site-content {
    background-color: $backgroundGrey;

    .blog-navigation {
      width: 100%;
      padding: 10px 64px 10px 64px;

      @media (max-width: $breakpoint-navbar-max) {
        padding: 10px 16px 10px 16px;
      }

      .back-btn {
        text-transform: uppercase;
        color: $textGrey;
        font-size: 12px;
        &:hover {
          color: $textHover;
          text-decoration: none;
        }
      }
    }

    .page-header {
      padding-top: 9px;
      background-color: $white;
      border-left-color: $darkGrey;
      margin: 20px 0 40px;

      .page-title {
        color: $darkGrey;
      }
    }

    .site-main {
      padding-top: 0;

      .post-navigation {
        display: none;
      }
    }

    .post {
      box-shadow: none;
      background-color: $backgroundGrey;
      margin-top: 0;
      padding-top: 0;

      max-width: 850px;
      margin-left: auto;
      margin-right: auto;

      .entry-header {
        margin-bottom: $spacingMd;

        .entry-title {
          font-size: $fontSizeTitle;
          text-transform: uppercase;
          margin-bottom: 10px;

          a {
            color: $textGrey;
            &:hover {
              color: $textHover;
            }
          }
        }
        .entry-meta {
          font-size: $fontSizeMeta;
          text-transform: uppercase;

          .category {
            margin-right: 8px;
            a {
              color: $praduxBlue;
            }
          }
        }
      }

      .entry-content, .entry-summary {

        p {
          font-size: $fontSizeBody;
          line-height: $entryLineHeight;
          margin-bottom: $spacingMd;
          letter-spacing: $letterSpacing;
        }
        a {
          color: $praduxBlue;
        }
        .wp-caption-text {
          text-transform: uppercase;
          color: $textGrey;
          font-size: 12px;
          padding-top: 15px;
          padding-bottom: 0;
        }
        img {
          margin-left: auto;
          margin-right: auto;
        }
      }

      .entry-footer {
        display: none;
      }
    }
  }
  
}