// colors

$backgroundGrey: #F8F8F8;
$textColor: #000000;
$textGrey: #B6B6B6;
$textHover: #333333;

$darkGrey: #555555;
$white: #FFFFFF;
$praduxBlue: #20b7ff;

// sizing
$spacingSm: 15px;
$spacingMd: 30px;


// font sizes
$fontSizeTitle: 50px;
$fontSizeMeta: 12px;
$fontSizeBody: 20px;
$entryLineHeight: 1.4em;
$fontMain: 'Libre Baskerville', serif;
$fontSub: 'Lato', sans-serif;
$letterSpacing: 1px;

// responsive breakpoints
$breakpoint-mobile-max: 679px;
$breakpoint-navbar-max: 997px;

$maxWidthContent: 720px;