// colors

$backgroundGrey: #F8F8F8;
$textGrey: #A1A1A1;
$textHover: #333333;

$darkGrey: #555555;
$white: #FFFFFF;

// sizing
$spacingSm: 15px;
$spacingMd: 42px;
$entryLineHeight: $spacingSm;

// font sizes
$fontSizeTitle: 24px;
$fontSizeMeta: 12px;
$fontSizeBody: 11px;