@import 'vars';
@import 'post';
@import 'disable_sidebar';
@import 'related_posts';

body {
  background-color: $backgroundGrey !important;
  letter-spacing: $letterSpacing;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-family: $fontFamily;
  padding-top: 62px;
}

.entry-title, .entry-meta, .entry-content, .entry-summary, .blog-navigation, .wp-caption-text {
  font-family: $fontFamily;
  letter-spacing: $letterSpacing;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: $textGrey;
}

iframe {
  max-width: none !important;
}

span.pradux-nested {
  width: 100%;
}