@import 'vars';
@import 'post';
@import 'disable_sidebar';
@import 'related_posts';

body {
  background-color: $backgroundGrey !important;
  letter-spacing: $letterSpacing;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}